* {
    font-family: 'Inter', sans-serif;
}

body {
    margin:0 auto;
    padding:0;
    min-height: 100vh;
    min-width: 100vw;
}
/*Header part*/
.header {
    display:inline;
    font-size:26px;
    font-weight: 800;
    color:#000000;
}

.navbar {
    color:#000000;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 300px;
    height:7.5vh;
}

.link-right {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.header-link {
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.05rem;
    color:#000000;
    padding-left:30px;
}

/*Header part*/

/*Main Part*/

/*Image part*/
.middle-upper {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px 300px;
    margin-top: -1rem;
}

#happy-page {
    display:block;
    font-size: 60px;
    color:#1b1a3d;
    letter-spacing: 0.05rem;
    font-weight:800;
    margin-bottom: 0px;
    position: absolute;
    top: -30px;
}

#image-holder {
    width:90em;
    height:60em;
    margin-top:0px;
}

.middle-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:0px 300px;
    position: relative;
}
/*Image part*/


