img{
    height: 500px;
    width: 500px;
}

.selected{
    background-color: goldenrod;
}

.correctChoice{
    background-color: green;
}

.wrongChoice{
    background-color: red;
}

.hidden{
    display:none;
}