:root{
    font-family: 'Inter';
}

body{
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
}

main{
    display: flex;
    flex-direction: column;
}

.hidden{
    display:none   !important;
}

#instruct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 100%;
    width: 100%;
}

.selected{
    background-color: goldenrod;
}

.correctChoice{
    background-color: green;
}

.wrongChoice{
    background-color: red;
}

